var Score = React.createClass({

  render: function() {
    var photoPath = "<%= compute_asset_path('becky.png') %>"

    return (
      <tr>
          <td className="single line center aligned">
            <img className="ui mini circular centered image" src={photoPath} />
            <p className="extra">{this.props.score.firstname}</p>
          </td>
          <td className="single line center aligned">
            <h1>{this.props.score.score}</h1>
          </td>
      </tr>
    );
  }
});