var Scoreboard = React.createClass({

  render: function() {
    this.props.scores.sort(function(a, b) {
      return b.score - a.score;
    });

    var scores = this.props.scores.map(function(score) {
      return <Score key={score.id} score={score} />
    });

    return (
      <div className="ui raised inverted segment">
        <img className="ui fluid image" src={"<%= asset_url('scoreboard.png') %>"} />
        <table  className="ui unstackable striped table">
          {scores}
        </table>
      </div>
    );
  }
});
