<div class="dashboard">
  <section class="scores row">
  </section>
  <section class="activities row">
    <div class="activity-listing medium small-8 columns">
      <%= render partial: 'activities/index' %>
    </div>
    <div class="teamsnap-sched small-4 columns">
      <h2>teamsnap sched</h2>
    </div>
  </section>
</div>

