<main id="landing">
    <div class="cta-container">
      <div class="clip">
        
      <h2>footie keeps score</h2>
      <%= link_to 'TRY IT OUT', 'users/7', class: "cta  login ui inverted fluid button" %>
      </div>
      </div>
    </div>   
    <div class="blurb-container">
      <p>Ask any youth sports coach worth their salt how they motivate their players to learn a new skill and they will tell you...</p>
      <p class="callout"><i class="quote left icon"></i> make it a competition</p>
      <p>Yea, but that sounds like a lot of work - you have to come up with the challenges, find prizes they think are cool, worst of all, you actually have to keep track of the points because they aren't 8 years old anymore and they will know if you make the shit up.</p>
      <p class="tagline">footie keeps score, so you don't have to</p>  
    </div>
</main>