nav
	background:
		image: linear-gradient(to bottom, rgba(0, 0, 0, 0.475) 0%, rgba(0, 0, 0, 0.5) 100%), url("grass.jpg")
		position: center bottom
		size: cover
	height: 350px
	display: flex
	justify-content: center
	align-items: center


.logo
	width: 8%
	@media only screen and (max-width : 450px)
		width: 15%