.scoreboard {
  max-width: 400px;
  .headline-image { margin-bottom: 24px;}
  .ui.inverted.segment { background: $dark-color;}
  .container {
    height: 450px;
    overflow: scroll;
    margin-top: 5px;
    border-bottom: 56px solid $dark-color;
  }
}

.new-score.middle.aligned.column {
  max-width: 350px;
}