#dashboard
  +flexbox(column)
  margin-bottom: 30px

.scoreboard
  max-width: 400px
  .headline-image  
    margin-bottom: 24px
  .ui.inverted.segment  
    background: $trans-dark
  .container 
    height: 350px
    overflow: scroll
    margin-top: 5px
  li
    color: $dark-color
  


.new-score.middle.aligned.column 
  max-width: 350px
  h2
    font-size: 36px
    color: $trans-white
  p
    font-size: 13px
    color: $lt-trans-white
  input
    color: $dark-color

  
