/*******************************
            background
*******************************/
body { background: url('whitesand.png') center center fixed;}

.home {
  background: url('grass.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*******************************
            structure
*******************************/


/*******************************
            typography
*******************************/

html {
  font-family: $main-font;
  color: $dark-color;
}

h1, h2, h3, h4, h6,
input,
label,
.ui.dropdown,
.ui.button,
::-webkit-input-placeholder {
  color: $dark-color;
  font-family: $heading-font
}

.ui.button,
.ui.checkbox {
    font-weight: bold;
    font-size: 22px;
}

