@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600|Roboto+Slab:300|Roboto+Condensed:300)

$main-font: 'Source Sans Pro', sans-serif
$heading-font: 'Roboto Slab', serif
$button-font: 'Source Sans Pro', sans-serif
$blue: #69ACAC
$coral-color: #ed815a
$third-color: #FF6D67
$green: #94CA9E
$shadow: #BABABA
$dark-color: #3B3B3A
$trans-dark: rgba(0, 0, 0, 0.1)
$panel: #BEC9C4
$button-color: #f4d583
$trans-white: rgba(255, 255, 255, 0.65)


// media queriess
$small: "only screen and (max-width : 475px)"
$medium: "only screen and (max-width : 1024px)"
