/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600|Roboto+Slab:300);

@import "font-awesome-sprockets";
@import "font-awesome";


$main-font: 'Open Sans', sans-serif;
$heading-font: 'Roboto Slab', serif;
$blue-color: #DBE8E2;
$coral-color: #ed815a;
$third-color: #FF6D67;
$shadow: #BABABA;
$dark-color: #171424;
$panel: #BEC9C4;
$button-color: #f4d583;

.fa {
  color: $coral-color;
}

.fa:hover {
  color: $dark-color;
}

.activity-title {
  font: 125% $heading-font;
}



body {
  font: 75% $main-font;
  color: black;
}

h1, h3, h4, h5, h6 {
  font: 200% $heading-font;
}

h2 {
  font: 220% $heading-font;
  padding-bottom: 10px;
}

button, .button {
  font: 100% $heading-font;
  color: $dark-color;
  background-color: $button-color;
  border-color: $button-color;
 }

 button:hover, .button:hover {
  background-color: $coral-color;
  border-color: $coral-color;
 }

ul {
  list-style-type: none;

}

li {
  text-decoration: none;
}
.price {
  white-space: nowrap;
}

.dashboard {
  padding-top: 30px;
}

.login {
  padding-top: 30px;
}

.activities {
  background-color: $blue-color;
  max-width: none;
}

.panel {
  -webkit-box-shadow: 0 8px 6px -6px $shadow;
     -moz-box-shadow: 0 8px 6px -6px $shadow;
          box-shadow: 0 8px 6px -6px $shadow;
  background-color: none;
  border-color: none;
  border-radius: 0.25em;
}

.panel-container {
  margin-top: 20px;
}

.score-value {
  color: $coral-color;
  font: 175% $heading-font;
}

.score-name {
  font: 100% $heading-font;
  position : relative;
  top : -.3em;
  padding-right: 4px;
}

.score-container {
  border-bottom: 1px dotted $shadow;

}