<footer>
	<ul>
		<li>OTHER PROJECTS</li>
		<li><a href="http://bit.ly/1Yf89wC">MotionBites</a></li>
		<li><a href="http://bit.ly/1ZUvAgj">Smarttext</a></li>
		<li><a href="http://bit.ly/1M8rP4F">Portfolio</a></li>
	</ul>
	<ul>
		<li>FIND ME ON</li>
		<li><a href="http://linkedin.com/in/cjmanetta">LinkedIn</a></li>
		<li><a href="http://github.com/cjmanetta">Github</a></li>
	</ul>
	<p>&#169; 2016 | CHARLOTTE MANETTA</p>
</footer>