<nav class="ui secondary inverted menu">
    <a class="item" href="#">footie</a>
    <div class="right menu">
      <div class="item">
        <% if current_user %>
          <%= link_to logout_path, method: :delete, class: "ui fluid inverted button" do %>
            <span>logout</span>
            <i class="angle right icon"></i>
          <% end %>
        <% end %>
      </div>
    </div>
</nav>
</div>